<p>
  <b>Name:</b>
  <%=h @service.name %>
</p>

<p>
  <b>Leistungsbeschreibung:</b>
  <%=h @service.description %>
</p>

<p>
  <b>Preis:</b>
  <%=h @service.unit_price %>&thinsp;&euro;/<%=h @service.unit %>
</p>

