<h1>/sellings</h1>

<h2>Description</h2>
<p>get a list of Selling Processes</p>

<h2>Available MIME-Types</h2>
<p>You can either use HTTP content negotiation (set an "Accept:"-Header) with
  the appropriate MIME type or call this URI whith one of the prefixes listed
  below.</p>
<dl>
  <dt>HTML</dt>
  <dd>application/xhtml+xml</dd>
  <dd>/sellings.html</dd>
  <dt>JSON</dt>
  <dd>application/json</dd>
  <dd>/sellings.json</dd>
  <dt>XML</dt>
  <dd>application/xml</dd>
  <dd>/sellings.xml</dd>
</dl>

<h2>Allowed Methods</h2>
<dl>
  <dt>POST</dt>
  <dd>creates a new Selling; see sellings/new </dd>
  <dt>GET</dt>
  <dd></dd>
</dl>

<h2>Referenced Resources</h2>
