<div class="container">
  <div class="row">
    <h1>Lieferant <%= @distributor.company_name %> bearbeiten</h1>
    <p><%= last_changed_info @distributor %></p>
  </div>
  <div class="row">
    <%= render 'form' %>
  </div>
</div>