.unit(@str) {
  label:after {
    content: @str;
    color: #888;
  }

  .input-value,
  input {
    text-align: right;
  }
}

.field {
  display: block;
  float: left;
  overflow: hidden;
  width: 320px;
  border: none;
  clear: both;

  label {
    display: block;
    float: left;
    border: none;
    width: 100px;
    text-align: right;
    font-size: 11px;
    margin: 5px 10px 4px 0px;
  }

  label + input,
  label + .input-value {
    width: 200px;
    float: left;
    margin: 5px 0;
  }

  &.unit-h    { .unit(' [h]') }
  &.unit-chf  { .unit(' [CHF]') }
  &.unit-km   { .unit(' [km]') }
  &.unit-kg   { .unit(' [kg]') }
  &.unit-nmm2 { .unit(' [N/mm\00B2]') }
  &.unit-mm2  { .unit(' [mm\00B2]') }
  &.unit-mm   { .unit(' [mm]') }
  &.unit-kn   { .unit(' [kN]') }
  &.unit-knm  { .unit(' [kNm]') }
  &.unit-m    { .unit(' [m]') }
  &.unit-l    { .unit(' [l]') }
  &.unit-deg  { .unit(' [°]') }
  &.unit-percent { .unit(' [%]') }
}
