<div class="container">
  <div class="row">
    <h1>Kunde <%= @client.client_no %> bearbeiten</h1>
    <p><%= last_changed_info @client %></p>
  </div>
  <div class="row">
    <%= render 'form' %>
  </div>
</div>
