<h1>Neuer Vermietvorgang</h1>

<%= form_for(@rental) do |f| %>
  <%= f.error_messages %>

  <%= render 'form_header', :f => f %>
<% end %>

<p class="bottom-actions">
  <%= link_to 'Zurück zur Übersicht', rentals_path, :class => 'back' %>
</p>

