<div class="container-fluid">
  <div class="offset2 page-header">
    <h1>Offene Vermietungen</h1>
  </div>
  <div class="offset2 row">
    <% if @rentals.any? %>
      <%= render :partial => 'list', :locals => {:processes => @rentals} %>
    <% else %>
      <p>Noch keine Vermiet-Vorgänge angelegt.</p>
    <% end %>
  </div>
  <div class="offset2 row">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Alternative Formate</li>
        <li><%= link_to image_tag('icons_16/text-xml.png') + ' XML', :format => 'xml' %></li>
        <li><%= link_to image_tag('icons_16/application-json.png') + ' JSON', :format => 'json' %></li>
        <li><%= link_to image_tag('icons_16/text-calendar.png') + ' ICS', :format => 'ics', :t => current_user.single_access_token %></li>
      </ul>
    </div>
  </div>

</div>

