<h1>Firmendaten bearbeiten</h1>

<% form_for(@company) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p>
  <%= link_to 'Zurück', account_path %>
</p>
