 $text: #1C100F;
$good: #6AA646;
$bad:  #F6B000;
$colour1: #788A50;
$colour2: #B6FF48;
$colour3: #636144;

/* DMPW colours */

/*$text: #000;
$good: #6AA646;
$bad:  #F6B000;
$colour1: #5088BD;
$colour2: #7A7F83;
$colour3: #2F669C;*/

body {
  background: $colour1;
  color: $text;
  margin-top: 20px;
  &.admin-area {
    background: darken($colour1, 30%);
  }
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

hr {
  clear: both;
  height: 1px;
  border: none;
  background: $colour2;
}

pre {
  background-color: $colour1;
  padding: 10px;
  font-size: 11px;
}

h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
}

a {
  color: lighten($text, 20%);
  &:visited {
    color: $text;
  }
  &:hover {
    color: lighten($text, 20%);
    text-decoration: underline;
  }
}

.fieldWithErrors {
  background-color: #F6B000; }

div.fieldWithErrors {
  padding: 2px; }

.smaller-than-zero {
  background: #e96d25; }

#errorExplanation {
  width: 400px;
  border: 2px solid lighten($bad, 20%);
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: $bad;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: darken($bad, 20%);
    color: $text; }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  ul li {
    font-size: 12px;
    list-style: square; } }

div {
  &.uploadStatus {
    margin: 5px; }
  &.progressBar {
    margin: 5px;
    div {
      &.border {
        background-color: #fff;
        border: 1px solid gray;
        width: 100%; }
      &.background {
        background-color: #333;
        height: 18px;
        width: 0%; } } } }

input, textarea, select {
  background-color: $colour2;
  color: $colour1; }

table {
  &.data {
    border-collapse: collapse;
    td {
      padding: 2px 3px;
      border-bottom: 1px solid #aaa;
      vertical-align: top;
      padding-right: .7em;
      ul {
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
  &.planner {
    border-collapse: collapse;
    border: 1px solid #aaa;
  }
}

tr.selected {
  &:nth-child(odd) td {
    background: #dddc9e;
  }
  &:nth-child(even) td {
    background: #cccb92;
  }
}

table.planner {
  td {
    border: 1px solid #E7E6E6;
    text-align: center;
  }
  tr {
    border-bottom: 1px solid #aaa;
  }
  th {
    &.date {
      width: 1.5em; }
    &.subheader {
      text-align: left;
      background-color: #B0B4B6;
      font-size: smaller;
      padding: .1em .6em;
      width: 20em; } }
  .today {
    background: #A4A9FF; } }

.additional-information {
  color: #666; }

div {
  &.tab-outer {
    background: url('images/tabtopleft.png') top left no-repeat;
    display: block;
    float: left;
    margin: 0px 1px;
    height: 30px;
    &.active {
      background: url('images/tabtopleft-a.png') top left no-repeat; } }
  &.tab-inner {
    background: url('images/tabtopright.png') top right no-repeat;
    display: block;
    float: left;
    height: 30px; }
  &.tab-outer.active div.tab-inner {
    background: url('images/tabtopright-a.png') top right no-repeat; }
  &.tab {
    background: url('images/tabtop.png') top left repeat-x;
    margin: 0px 9px;
    display: block;
    float: left;
    height: 30px;
    padding: 5px;
    font-weight: bold;
    color: #000; }
  &.tab-outer.active div.tab {
    background: url('images/tabtop-a.png') top left repeat-x; }
  &.tab a {
    text-decoration: none;
    font-weight: bold;
    color: #eeee22; }
  &.tab-outer.active a {
    color: #000;
    &:hover {
      color: #fff; } }
  &.logged-in {
    position: absolute;
    top: 2px;
    right: 2px;
    border: 1px solid #666;
    background: #EBEB23;
    padding: .1em .4em;
    font-size: 0.8em; } }

img {
  border: none; }

#spinner {
  background: #fff;
  position: absolute;
  text-align: center;
  img {
    padding-top: 200px; } }

table#totals th {
  text-align: left; }

#help_icon {
  position: absolute;
  top: 2px;
  right: 2px;
  img {
    border: none;
  }
}
#help_div {
  position: absolute;
  position: absolute;
  top: 24px;
  right: 24px;
  background: #fffff0 url('images/arrow_topright.png') right top no-repeat;
  border: 1px solid #999;
  z-index: 2000;
  padding: 5px; }
tr {
  &:nth-child(odd) td {
    background-color: transparentize(lighten($colour2, 30%), 0.3);
  }
  &:nth-child(even) td {
    background-color: transparentize(lighten($colour2, 20%), 0.3);
  }
}
thead th, tfoot td {
  padding: 0.4em;
  background-color: transparentize($colour2, 0.3); }
.main_content {
  border: 1px solid $colour2;
  margin: 0;
  clear: both;
  float: left;
  padding: 5px;
  background: lighten($colour1, 20%);
  width: 98%;
  min-width: 600px;
  position: relative; }
.footer {
  border: 1px solid #999;
  margin: 0;
  clear: both;
  float: left;
  padding: 5px;
  background: #E7E6E6;
  width: 98%;
  min-width: 600px;
  position: relative;
  border-top: none;
  color: #666;
  ul li {
    display: block;
    float: left;
    width: 30%;
    font-size: smaller; }
  dl {
    margin: 0 1em;
    padding: 0; }
  dt {
    margin: 0;
    padding: 0;
    font-weight: bold;
    border-bottom: 1px dotted #aaa;
    color: #669; }
  dd {
    margin: 0;
    padding: 0; }
  p {
    clear: both;
    margin: 0;
    text-align: center;
    font-size: smaller; } }
ul.toolchain {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: .2em;
    display: inline;
  }
}
input.toolchain {
  padding: .2em;
  display: inline;
}
p.alternative_formats {
  text-align: center;
  font-size: 80%;
  color: #414E6F;
}

div.widget_container {
  width: 36%;
  border: 1px solid $colour3;
  float: left;
  background: url('images/top-bg2.png') repeat-x;
  &.right {
    margin-left: 2%;
    width: 60%;
  }
  &.narrow {
    width: 18%;
  }
  &.broad {
    width: 78%;
  }
}

.widget h2 {
  display: block;
  background: lighten($colour1, 10%);
  color: lighten($text, 10%);
  border: none;
  margin: 0;
  padding: 4px; }

div.widget {
  /*   background: url('images/top-bg2.png') repeat-x; */
  padding: 0.5em;
  margin: 0.5em;
  border: 1px dotted #aaa;
  display: block; }

#top_nav {
  margin: 0;
  clear: both;
  float: left;
  display: block;
  width: 98%;
  border: 1px solid #2B2B2B;
  border-bottom: none;
  padding: 0 5px;
  background: $colour3 url('images/top-bg.png') bottom left repeat-x;
  a, #search {
    padding: 4px 10px 0px 10px;
    border-right: 1px solid #7F7F7F;
    float: left;
    vertical-align: center; }
  a {
    padding: 8px 10px;
    &:hover, &.active {
      background: #D2D21D;
      text-decoration: none; } } }

tfoot {
  td.empty {
    background: none;
    border: none; }
  th {
    text-align: right;
    padding-right: 1em; } }

#base_data th {
  text-align: right;
  padding-right: 1em; }

div.autocomplete {
  position: absolute;
  width: 250px;
  background-color: #fff;
  border: 1px solid #888;
  margin: 0;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      &.selected {
        background-color: #ffb; }
      list-style-type: none;
      display: block;
      margin: 0;
      padding: 2px;
      height: 32px;
      cursor: pointer; } } }

.search_field {
  width: 100%; }

td.additional_information * {
  font-size: smaller; }

#flash_message {
  background: #CCCCAA;
  color: #00125C;
  border: #937DFF dashed 1px;
  padding: 5px; }

input {
  &.decimal, &.money {
    white-space: nowrap;
    text-align: right;
    width: 5em;
    font-family: fixed; } }

.decimal input {
  white-space: nowrap;
  text-align: right;
  width: 5em;
  font-family: fixed; }

.money {
  input {
    white-space: nowrap;
    text-align: right;
    width: 5em;
    font-family: fixed; }
  width: 6em;
  font-family: fixed;
  text-align: right;
  vertical-align: top;
  white-space: nowrap; }

.decimal {
  width: 6em;
  font-family: fixed;
  text-align: right;
  vertical-align: top;
  white-space: nowrap; }

input.product_comments {
  width: 100%;
  border: none;
  border-bottom: 1px solid #666; }

.full_width_input textarea {
  background: #cccccc;
  border: 1px solid #dddddd;
  overflow: auto;
  width: 100%;
  &:focus {
    background: #fff;
    border: 1px solid #ddd; }
  &.saved {
    border: 1px solid #66CC33; } }

td.total {
  border-bottom: 3px double #333; }

p {
  &.bottom-actions {
    line-height: 2em;
    a {
      padding: .3em .5em .3em 24px;
      border: 1px solid #bebebe;
      &.new {
        background: #dadada url('images/icons_16/new.png') 4px center no-repeat; }
      &.edit {
        background: #dadada url('images/icons_16/edit.png') 4px center no-repeat; }
      &.delete {
        background: #dadada url('images/icons_16/editdelete.png') 4px center no-repeat; }
      &.back {
        background: #dadada url('images/icons_16/back.png') 4px center no-repeat; }
      &.pdf {
        background: #dadada url('images/icons_16/application-pdf.png') 4px center no-repeat; }
      &.accept {
        background: #dadada url('images/icons_16/ok.png') 4px center no-repeat; }
      &.reject {
        background: #dadada url('images/icons_16/no.png') 4px center no-repeat; }
      &.receive_payment {
        background: #dadada url('images/icons_16/ok.png') 4px center no-repeat; }
      &:hover {
        background-color: #D2D21D; } } }
  &.error {
    display: block;
    border: #ff0 solid 2px;
    background: #ffff99 url('images/messagebox_error.png') no-repeat 10px center;
    padding: 1.5em;
    padding-left: 50px; }
  &.info {
    display: block;
    border: #d6ddff solid 2px;
    background: #ffff99 url('images/messagebox_info.png') no-repeat 10px center;
    padding: 1.5em;
    padding-left: 50px; }
  &.warning {
    display: block;
    border: #ff0 solid 2px;
    background: #ffff99 url('images/messagebox_warning.png') no-repeat 10px center;
    padding: 1.5em;
    padding-left: 50px; } }

.multiple-select .select-option {
  float: left;
  width: 30%; }

.workflow {
  &.new {
    background-color: #7787FF;
    font-weight: bold; }
  &.accepted {
    background-color: #70FF8A; }
  &.billed {
    background-color: #FFC96B; }
  &.rejected {
    background-color: #FF9288; }
  &.payed {
    background-color: #FFFEE1; } }

button {
  &.remove_line {
    background: url('images/icons_32/remove.png') center no-repeat;
    border: none;
    margin: 0;
    width: 32px;
    height: 32px; }
  &.reload_line {
    background: url('images/icons_32/reload.png') center no-repeat;
    border: none;
    margin: 0;
    width: 32px;
    height: 32px; } }

div.product_info {
  border: none;
  background: #eee;
  overflow: auto;
  div {
    padding: 0 0.8em; } }

ul.sidenav {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    display: block;
    list-style: none;
    background: #747474;
    border: 1px solid #ccc;
    &.active {
      background: #ccc;
      color: #000; }
    a {
      display: block;
      padding: 0.2em 1em;
      color: #eeee21;
      font-weight: bold; }
    &.active a {
      color: #000;
      &:hover {
        color: #fff; } } } }

#main_content {
  dt {
    height: 2.2em;
    font-weight: bold;
    font-size: .82em;
    color: #333;
    float: left;
    clear: left;
    width: 10em;
    background: #ddd;
    padding: 0 .5em; }
  dd {
    float: left;
    margin-left: 1em; } }
