<h2>Neue Position</h2>

<div class="row-fluid">
  <div class="span6">
    <%= form_for @process_item, :url => new_commercial_process_process_item_path(@commercial_process), :html => {:method => :get} do |f| %>
      <%= render 'product_search', :f => f %>
    <% end %>
  </div>

  <div class="span6">
    <%= render 'form' %>
  </div>
</div>