<h1>Kategorie bearbeiten</h1>

<%= render 'form' %>

<p class="bottom-actions">
  <%= link_to 'Zurück zur Ansicht', @category, :class => 'back' %>
  <%= link_to 'Zurück zur Übersicht', categories_path, :class => 'back' %>
</p>
