<footer class="footer">
  <div class="container">
    <p>powered by <%= APP_NAME %>, the online commercial platform solution by <a target="_new" href="http://consolving.de">Consolving Network Solutions</a></p>
    <p><%= APP_NAME %> uses Ruby on Rails</p>
    <p>Copyright &copy; 2010-<%= Date.today.year %> Consolving Network Solutions. All rights reserved. If you are interested in contributing to <%= APP_NAME %> as a developer, please contact developer@consolving.de</p>
  </div>
<!--  <div class="pull-right">
    <a href="http://jigsaw.w3.org/css-validator/">
      <img style="border:0;width:88px;height:31px"
           src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
           alt="Valid CSS!" />
    </a>
    <a href="http://validator.w3.org/check?uri=referer">
      <img style="border:0;width:88px;height:31px"
           src="http://www.w3.org/Icons/valid-xhtml10-blue"
           alt="Valid XHTML 1.0 Transitional" />
    </a>
  </div>-->
</footer>
